<%= form_for(@med) do |f| %>
  <% if @med.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@med.errors.count, "error") %> prohibited this med from being saved:</h2>

      <ul>
      <% @med.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :quantity %> 
  <%= f.text_field :quantity %>
  <br/>
  <%= f.label	  :order_code %> 
  <%= f.text_area :order_code %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
