<h1>ADMIN MEDS PAGE</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Code for placing order</th>
    <th>Ordered Quantity</th>
    <th>Action</th>
  </tr>

<% @meds.each do |med| %>
  <tr>
    <td><%= med.id %></td>
    <td><%= link_to med.name, med %></td>
    <td><%= med.order_code %></td>
    <td><%= med.quantity %></td>
    <td><%= link_to 'Edit', edit_med_path(med) %> | <%= link_to 'Destroy', med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Med', new_med_path %>
