<h1>ADMIN MEDS PAGE</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Ordered Quantity</th>
    <th>Action</th>
  </tr>

<% @meds.each do |med| %>
  <tr>
    <td><%= med.id %></td>
    <td><%= link_to med.name, med %></td>
    <td><%= med.quantity %></td>
    <td><%= link_to 'Order', order_med_path(med) %></td>
  </tr>
<% end %>
</table>

<br />
