<p id="notice"><%= notice %></p>

<ul>
 <li>ID:		       <%= @med.id %></li>	    
 <li>Name:		       <%= @med.name %></li>
 <li>Code for placing order:   <%= @med.order_code %></li>
 <li>Ordered Quantity:	       <%= @med.quantity %></li> 
</ul>

<%= link_to 'Edit', edit_med_path(@med) %> |
<%= link_to 'Back', meds_path %>
